@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 207, 193, 0.993);
    font-family: 'Poppins', sans-serif;
}

section .main {
    height: 280px;
    width: 270px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    padding: 20px;
}

.heading {
    height: 70px;
    background-color: rgb(12, 160, 160);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 4px 4px 0 0;
}

h2 {
    color: #fff;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    line-height: 70px;
}

.main .section {
    position: absolute;
    top: 60px;
    margin-top: 30px;
}

.section .login-section {
    width: 100%;
}

.input-section {
    display: flex;
    margin-bottom: 10px;
    
}

.input-section i{
    background-color: rgb(12, 160, 160);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 13px;
    border-radius: 4px 0 0 4px;
}

.input-section input {
    width: 220px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-left: 0;
    padding-left: 10px;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

#forgot-pass {
    font-size: 14px;
    color: rgb(12, 160, 160);
    font-weight: 400;
    position: relative;
    top: -8px;
    text-decoration: none;
    cursor: pointer;
}

#forgot-pass:hover {
    text-decoration: underline;
}

.login-btn {
    width: 100%;
    height: 40px;
    margin-top: 8px;
    margin-bottom: 13px;
    padding: 2px;
    background-color: rgb(12, 160, 160);
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all 0.1s linear;
}

.login-btn:hover {
    background-color: #fff;
    color: rgb(12, 160, 160);
    border: 1px solid rgb(12, 160, 160);
}

p {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

#sign-up {
    text-decoration: none;
    color: rgb(12, 160, 160);
    padding-left: 6px;
    font-weight: 400;
}

#sign-up:hover {
    text-decoration: underline;
}